/*--RESET--*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    /*border: 1px dashed black;*/
  }
  
  body {
    font-family: "Open Sans", sans-serif;
  }
  
  /*css per dare flex ai tag a cui servono*/
  .flex {
    display: flex;
  }
  
  .container {
    max-width: 70%;
    margin: 0 auto;
  }
  
  /*header per la navigazione*/
  
  header {
    height: 80px;
  }
  
  nav.flex-nav {
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 100%;
  }
  
  .left-nav,
  .right-nav {
    align-items: center;
  }
  
  div.left-nav img,
  span {
    padding: 0 1rem;
    height: 100%;
  }
  
  div.right-nav button {
    margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  }
  
  .button {
    
    background-color: rgb(0, 97, 255);
    color: white;
    border: 0;
  }
  
  
  /*css per la sezione download-free*/
  
  section.download-free {
    background-color: rgb(180, 208, 231);
    width: 100%;
    margin-bottom: 5rem;
  }
  
  div.container-download-free{
      position: relative;
      top: 7rem;
  }
  
  h1#titolo-download {
    color: black;
    font-size: 80px;
   /* padding: 2rem 0;*/
  }
  
  div.flex-box {
    width: 100%;
    justify-content: center;
    
   
  }
  
  div.left-download {
    padding-right: 1rem;
    width: 30%;
  }
  
  div.right-download {
    width: 70%;
  }
  
  div.left-download button.button {
    margin: 2rem 0;
    font-size: 1rem;
    padding: 1rem 1.2rem ;
  }
  
  div.left-download p > i {
    font-size: 60px;
    padding: 3rem 0 0 0;
  }
  
  div.right-download img {
      width: 100%;
      
  }
  
  
  
  
  
  
  
  
  
  
  
  

/*Sezione 2*/
  
  
  /*css per la sezione dove scegliere il piano business*/
  
  .container-business {
    width: 1100px;
    margin: 0 auto;
  }
  
  section.plane-business {
    padding: 5rem 0;
   
    
    
  }
  
  section.plane-business h1 {
    padding: 2rem 0;
    font-size: 40px;
  }
  
  div.box-input {
    padding: 0 0 2rem 0;
  }
  
 
/*css lista*/




div.box-piano-sub {
    background-color: white;
    
    justify-content: space-between;
 
}

article.margin-singoli-box{
  margin-right: 3rem;
}


  article.article-seconda-sezione{

    
    border:1px solid black;
    

}

  article>h4.central{
     text-align: center;
     border-bottom: 1px solid black;
  }

div.box-piano-sub article > ul.style-list {
    list-style: none;
   
    
  }
  
  article.article-seconda-sezione .padding{
     margin: 2rem 2.5rem;
  }



article.article-seconda-sezione>button{
 margin-left: 1.5rem;
 padding: 0.5rem 2rem;

}

div.flex-box-orizzontale-sub{
  display: flex;
  padding: 2rem;
  width: 100%;
  
  
}

div.flex-box-orizzontale-sub div>ul{
  list-style: none;
}

div.flex-box-orizzontale-sub button.button{
  padding: 0.5rem 2rem;
  width: 100%;
}

div.flex-box-orizzontale-sub div.left-sub-row{
  width: 70%;
  
}

div.flex-box-orizzontale-sub div.right-sub-row{
  width: 30%;

}

/*FINE SEZIONE 2*/







  
  /*css per la sezione partner con due ragazzi che ridono*/
  
  section.partner-dropbox {
    margin: 13rem;
    
   
    
    
    
  
  }



  div.container-partner{
    
    width: 1100px;
    margin: 0 auto;
    
   
   
   
   
  }

   div.container-partner>div.left-box-partner{
    
    width: 60%;
   
     
     
   }

   div.container-partner>div.right-box-partner{
   padding: 3rem 3.5rem;
    width: 40%;
   
    
   }

   div.left-box-partner>img{
  width: 100%;
    object-fit:cover;

   }

   div.right-box-partner h3{
   
    font-size: 25px;
   }

   div.right-box-partner p{
    padding: 1rem 0;
   }

   div.right-box-partner button{
    border: 1px solid black;
    padding: 0.8rem 1.25rem;
   }
   

















  
  /*css per la sezione per il paino business */
  
  section.dropbox-business {
    height: 1659px;
    background-color: coral;
  }



























  
  
  /*css per la sezione lo go aziende partner*/
  
  section.logo-aziende-partner {
    height: 1124px;
    background-color: magenta;
  }
  
  /*css per il footer*/
  footer {
    height: 569px;
    background-color: black;
  }
  